footer {
  background: #323868;
  background: -moz-linear-gradient(left, #323868 0%, #5A266D 100%, #5A266D 100%);
  background: -webkit-linear-gradient(left, #323868 0%, #5A266D 100%, #5A266D 100%);
  background: linear-gradient(to right, #323868 0%, #5A266D 100%, #5A266D 100%);
  color: white;
  padding-top: 1%;
  font-family: 'Satisfy', cursive;
}

footer p {
  font-size:8px;
  text-align: center;
}

footer a {
  font-size: 15px;
  color: white;
}
footer li {
  list-style: none;
  font-size: 15px;
}
footer a:hover {
  color: #F6CD40 !important;
}



h1 {
  display: none;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #5A266D;
  text-align: center;
  font-size:25px;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #5A266D;
  text-align: center;
  font-size: 20px;
}

p {
  font-size: 16px;
  text-align: justify;
}


.bg-light {
background: #323868;
background: -moz-linear-gradient(left, #323868 0%, #5A266D 100%, #5A266D 100%);
background: -webkit-linear-gradient(left, #323868 0%, #5A266D 100%, #5A266D 100%);
background: linear-gradient(to right, #323868 0%, #5A266D 100%, #5A266D 100%);
}

.bg-light a {
  color: white !important;
  font-size: 15px;
  padding-right:2%;
  font-family: 'Satisfy', cursive;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #F6CD40 !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: .7em !important;
  padding-right: .7em !important;
}
.dropdown-item {
  background-color: #5A266D !important;
}

.btn-outline-success {
  color: white !important;
  background-color: #5A266D !important;
  border-color: #F6CD40 !important;
}

.btn-outline-success:hover {
  color: #F6CD40 !important;
  background-color: #5A266D !important;
}

.page {
  width:90%;
  margin-right: 5%;
  margin-left: 5%;
}
.page img {
  margin-left:10%;
  margin-right:15%;
  margin-top: 1%;
  text-align: center;
}


.container {
  padding: 2%;
}


.btn-primary {    /* c'est le bouton lecture vidéo */
    color: #fff;
    background-color: #F6CD40 !important;
    border-color: #F6CD40 !important;
}

.btn-secondary {  /* c'est le bouton fermer vidéo */
    color: #fff;
    background-color: #F6CD40 !important;
    border-color: #F6CD40 !important;
}

.conditions_vente {
  width: 80%;
}

h4 {
  font-family: "JosefinSans-SemiBold";
  color: #5A266D;
  text-align: center;
  font-size: 30px;
  margin-top: 2%;
}

.info .row .element {
  background: rgb(250,250,250);
  margin: 1%;
  margin-left: 0;
  border-radius:
}
.info .row .element h3 {
  margin-top: 3%;
}
.info .row .element:hover {
  background: rgb(250,250,250);
  margin: 1%;
  margin-left: 0;
  box-shadow: 1px 1px 1px grey;
}

table, td, tr {
  /* margin-top: 5%; */
  margin-left: 15%;
  border: 1px solid #F6CD40;

}

table:hover {
  margin-top: 0;
  box-shadow: 2px 2px 2px 2px black;
}

td, tr {
  width: 30px;
  height: 30px;
  background-color: #5A266D;
  border-radius: 2px;
  color: white;
}

h4 {
  font-family: "JosefinSans-SemiBold";
  color: #5A266D;
  text-align: center;
  font-size: 30px;
}

.container-gameboard {
  text-align: center;
}

.container-gameboard h4 {
  font-size: 2em;
  margin-top: 2%;
}

.game {
  margin-top: 4%;
  margin-left: 0;
}
.row {
  margin-right: 0;
}

.col-regle {
  color: black;
  border-radius: 15px;
  text-align: justify;
  float: right;
  width: 40%;
  height: 15%;
}

.col-regle p:hover {
  font-size: 1.2em;
}

.col-regle p {
  padding: 5%;
}
.col-regle h3 {
  padding-top: 3%;
}

.col-tray {
  float: left;
  width: 50%;
}
.play .button{
  margin: 0 auto;margin-bottom: 5%;
}

.tab-content{
  display: none;
}

.tab-content.active {
  display: block;
}

.tabs a {
  color: #5A266D;
}

.tabs ul {

}
.tabs li {
  list-style: none;
  margin-right:2%;
}

.tabs {
  margin-top: 1%;
  text-align: center;
}

.tabs .active a{
  color: #5A266D;;
 font-weight: bold;
}

h2 {
  margin-top:2%;
  margin-bottom: 2%;
}

.stat {
  text-align: center;
  border-radius: 10px;
}


.recrutement, .recrutement .row {
  margin: 0 auto;
}

.recrutement .row .col {
  margin: 0 auto;
}

.recrutement p {}

.btn-primary {
  background: #5A266D !important;
  border: none;
  margin: 2%;
}

.carousel .slide {
  margin: 0 auto;
}

.box {
  margin-bottom: 1rem;
  border: 2px solid #eee;
  border-radius: 2px;
  padding: 1em;
  min-height: 217px;
}

.box p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.accroche {
  margin: 0 auto;
  margin-bottom: 3%;
  width: 70%;
  font-weight: 100;
}

.btn-success {
  background: #5A266D;
  border: none;
}

.btn-success:hover {
  background: #5A266D;
  border: none;
  box-shadow: 1px 1px 1px black;
  color: #F6CD40;
}

.btn-success:active {
  background: #5A266D;
  border: none;
  color: #F6CD40;
  color: #28a745 none;
}
.team_block {
  margin: 3%;
}
.btn-sup {
  width: 200px;
}

#calendar-container{
    margin-left: 25%;
    padding-left: 5%;
    width: 50%;
    height: 50%;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5%;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#323868, #5A266D);
}

#calendar-container>div{
    padding: 3%;
    margin-bottom: 5%;
    margin-right: 20%;
}

#calendar-month-year{
    margin: 5%;
}

#calendar-dates>table>tr>td{
    padding: 2%;
    width: 5%;
}

.page a {
  color: black;
}

.meteo {
  text-align: center;
}
